:root {
	--versa-global-colors-salmon: #f37d6e;
	--versa-global-colors-green: #9cff39;
	--versa-global-colors-accent: var(--versa-global-colors-salmon)
}


/* Globals */
.page-theme-light a:hover,

/* Globals: Menu */
.primary-menu-wrapper ul li>a:hover,

/* Globals: Footer */
.site-footer__section--first h3 span,
.site-footer__section--second h3,
.site-footer__section--third h3,

/* Project Page */
.project-title-marquee__item span:first-of-type,

#block-versa-instagram img,

/* Pages: About */
.animated-text-hero .animated-text-container .animated-text-word {
	color: var(--versa-global-colors-accent);
}



