[

	{
		"context": "test-video",
		"name": "Basecamp",
		"host": "",
		"protocol": "ftp",
		"port": 21,
		"username": "",
		"password": "",
		"remotePath": "/public_html/test-video",
		"uploadOnSave": false,
		"useTempFile": false,
		"openSsh": false,
		"syncMode": "update",
		"syncOption": {
			"delete": true
		},
		"ignore": [".gitkeep", ".git", ".gitignore", ".claude", "*.code-workspace"]
	}

]
